__pycache__/
*.py[cod]
.venv/
output/
tmp/

# Ignore everything inside output, but keep the folder
output/*
!output/.gitkeep

# Ignore everything inside propostas, but keep the folder
propostas/*
!propostas/.gitkeep